@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500|IBM+Plex+Sans:400,500|IBM+Plex+Sans+Condensed:400');

body {
  margin: 0;
  padding: 0;

  --pastel-blue: #99adff;
  --light-gray: #f8f6f3;
  --turquoise-green: #00f576;
  --butterscotch: #ffd240;
  --ultramarine: #3d00c2;
  --bright-orange: #f56a00;

  --sans: 'IBM Plex Sans', sans-serif;
  --mono: 'IBM Plex Mono', monospace;
  --condensed: 'IBM Plex Sans Condensed', sans-serif;

  font-family: var(--sans);
}
