@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:500|IBM+Plex+Sans');

body {
  margin: 0;
  padding: 0;

  --pastel-blue: #99adff;
  --light-gray: #f8f6f3;
  --turquoise-green: #00f576;

  --sans: 'IBM Plex Sans', sans-serif;
  --mono: 'IBM Plex Mono', monospace;

  font-family: var(--sans);
}
